body {
    margin: 0;
    background-color: #FDFCFA;
}

svg {
    float: right;
}

text, h1, h2, p {
    /* It's the same for SVG and HTML! */
    font-family: avenir, open-sans, sans-serif;
}

h1, h2 {
    text-align: center;
    font-weight: normal;
    margin: 0;
}

p {
    margin: 32px 20px;
}

h1 { font-size: 36px; }
h2 { font-size: 18px; }

text {
    text-anchor: middle; /* SVG */
}

.leftside {
    margin-top: 15px;
    width: 400px;
}

.cover {
    fill: #FDFCFA;
    stroke: none;
}

path.cyellow {
    fill: #FFFF84;
}
strong.yellow {
    background-color: #FFFF84;
}

strong.red {
    background-color: rgb(255, 119, 119);
}

strong.blue {
    background-color: rgb(119, 119, 255);
}

strong.purple {
    background-color: rgb(218, 84, 255);
}

.graph-vertex circle {
    fill: white;
    stroke: black;
}

.graph-vertex text {
    font-size: 14px;
}

.deque-vertex text {
    font-size: 18px;
}

.deque-vertex rect {
    fill: white;
}

line, polyline, rect, path {
    fill: none;
    stroke: black;
    stroke-width: 2;
}

line.err {
    stroke: red;
    stroke-width: 4;
}

rect.bg {
    stroke: #BDBAB6;
    stroke-width: 1px;
    fill: #FFF;
}

text.body1 {
    text-anchor: start;
}
